@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	margin-top: 15%;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222235;
	color: #eee;
	text-align: center;
}

 button {
    background-color: #222235;
    border: #d8d8d8;
    border-radius: 40px;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    height: 120px;
	width: 120px;
    transition: background-color 0.3s ease-in-out;
  }

  #btn { /*maybe not necessary*/
    z-index: 5;
    margin: 0 10px;
    cursor: pointer;
	transition: 0.2s;
  }

  #btn img {
    transition: 0.2s;
  }

  #btn img:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }

  #btn:hover {
/*    background-color: #090909;*/
	opacity: 0.8;
	transform: scale(1.05);
	color: #eee;
  }

  h1 {
	font-size: 40px;
	line-height: 34px;
}

p {
	font-size: 16px;
	color: #9967ff;
}

h3 {
	font-size: 16px;
/*	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;*/
}

h3:hover {
	color: #fff;
}

a {
	font-size: 10px;
	text-decoration: none;
	color: #9967ff;
	transition: 0.4s;
}

a[href]:hover {
	color: #ffff88;
}

footer {
	margin-top: 20%;
}

  /*EVERYTHING DOWN FROM HERE IS NOT CHECKED AND MIGHT OR MIGHT NOT BE BULLSHIT*/



.simple-container {
	background-color: #333;
	min-height: 30%;
	width: 675px;
	margin: 0 auto;
/*	padding-top: 70px;
	padding-bottom: 20px;*/
	border: #aaa;
	border-width: 5px;
}

.simple-print {
	fill: white;
	stroke: white;
}
.simple-print svg {
	height: 100%;
}

.simple-close {
	color: white;
	border-color: white;
}

.simple-ext-info {
	border-top: 1px solid #aaa;
}



h2 {
	font-size: 20px;
	line-height: 25px;
}


hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}
/*
a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}
*/
img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}
